# SpringBoot内嵌web容器配置
server:
  # SpringBoot内嵌web容器http端口号
  port: 2333
  # SpringBoot内嵌tomcat配置
  tomcat:
    # 请求编码
    uri-encoding: UTF-8
    # 最小线程数
    min-spare-threads: 10
    # 最大线程数
    max-threads: 1000
    # 队列长度
    accept-count: 200
    # 最大连接数
    max-connections: 20000
    # 连接建立超时时间
    connection-timeout: 10000

# Spring配置
spring:
  profiles:
    active: dev
  mvc:
    # 关闭默认favicon
    favicon:
      enabled: false
  # thymeleaf配置
  thymeleaf:
    mode: HTML
    encoding: UTF-8
    cache: false
  # 编码配置（编码过滤器）
  http:
    encoding:
      charset: UTF-8
      force-request: true
      force-response: true
      enabled: true

# mybatis plus配置
mybatis-plus:
  mapper-locations: classpath:org/cny/yurayura/dao/mapper/*.xml

# mybatis pagehelper配置
pagehelper:
  helper-dialect: mysql