body {
    background: #10171e;
}

.container {
    width: 1300px;
}

/* 推特色内容背景 */
.bg-twittercont {
    background-color: #15202b;
}

/* 推特色按钮 */
.btn-twitter {
    color: #fff;
    background-color: #1c2938;
    border-color: #1c2938;
}

/* 推特色分页导航 */
.r3 .c2 .border-twittercont {
    border-color: #15202b;
}

.r3 .c2 a.text-white:focus, .r3 .c2 a.text-white:hover {
    background: #10171e;
    border-color: #15202b;
}

/* 模态窗体样式重写 */
.modal-content {
    width: 120%;
    border: 1px solid #15202b;
}

.modal-header {
    background: #15202b;
    border-bottom: 1px solid #15202b;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    color: #fff;
}

.modal-header .close {
    opacity: .5;
}

.modal-header .close:focus, .close:hover {
    opacity: .7;
}

.modal-body {
    background: #15202b;
    color: #fff;
}

.modal-footer {
    background: #15202b;
    border-top: 1px solid #15202b;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

/* input-group样式重写 */
.input-group-text {
    color: #ffffff;
    background-color: #1c2938;
    border: 1px solid #1c2938;
}

/* 返回顶部按钮 */
#scrollUp {
    background-image: url("./images/top.png");
    bottom: 0px;
    right: 20px;
    width: 60px;
    height: 60px;
}