body {
    background: #10171e;
}

.container {
    width: 1200px;
}

/*推特导航背景色*/
.bg-twitternav {
    background-color: #1c2938;
}

/*推特内容背景色*/
.bg-twittercont {
    background-color: #15202b;
}

/*推特色的按钮*/
.btn-twitter {
    color: #fff;
    background-color: #1c2938;
    border-color: #1c2938;
}

/*侧滑菜单*/
#bootsidemenu {
    width: 255px;
    background: #1c2938;
}

#bootsidemenu .side-user {
    background: #1c2938;
}

#bootsidemenu .toggler {
    background: #1c2938;
}

/*metisMenu css*/
.sidebar-nav .metismenu {
    background: #1c2938;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #15202b;
}

.sidebar-nav .metismenu li:first-child {
    margin-top: 0px;
}

.sidebar-nav .metismenu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.sidebar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 13px 15px;
    color: #adb5bd;
    outline-width: 0;
    transition: all .3s ease-out;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav .metismenu a:hover, .sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active {
    color: #f8f9fa;
    text-decoration: none;
    background: #0b7285;
}

/*番剧图片*/
.r2 .c1 .table-cmimg {
    width: 165px;
    height: 217px;
}

/*番剧内容p*/
.r2 .c1 .table-cmcontent {
    line-height: 16px;
    height: 224px;
    overflow: hidden;
}

/*分页导航样式 */
.r3 .c2 .border-twittercont {
    border-color: #15202b;
}

.r3 .c2 a.text-white:focus, .r3 .c2 a.text-white:hover {
    background: #10171e;
    border-color: #15202b;
}

/*图片遮罩样式*/
.box {
    width: 165px;
    height: 217px;
    position: relative;
    cursor: pointer;
}

.box .bmbox {
    width: 165px;
    height: 217px;
    background: black;
    position: absolute;
    bottom: 35px;
    left: 12px;
    display: none;
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 70px;
    border-radius: .25rem;
}

.box:hover .bmbox {
    width: 165px;
    height: 217px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 35px;
    left: 12px;
    display: block;
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 70px;
    border-radius: .25rem;
}

/*模态窗体样式*/
.modal-content {
    border: 1px solid #15202b;
}

.modal-header {
    background: #15202b;
    border-bottom: 1px solid #15202b;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    color: #fff;
}

.modal-header .close {
    opacity: .5;
}

.modal-header .close:focus, .close:hover {
    opacity: .7;
}

.modal-body {
    background: #15202b;
    color: #fff;
}

.modal-footer {
    background: #15202b;
    border-top: 1px solid #15202b;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

/*文件浏览样式改变*/
.custom-file-label::after {
    color: #fff;
    content: "浏览图片";
    background-color: #007bff;
}

/*吐司样式改变*/
.toast-success {
    background-color: #28a745;
}

.toast-error {
    background-color: #dc3545;
}

/*返回顶部按钮样式*/
#scrollUp {
    background-image: url("../images/top.png");
    bottom: 80px;
    right: 20px;
    width: 60px;
    height: 60px;
}