body {
	background: #f8f8f8;
}

.container {
	width: 992px;
}

.mt-7 {
	margin-top: 12rem !important;
}

.spinner-grow {
	width: 6rem;
	height: 6rem;
}

/* 吐司样式改变 */
.toast-success {
	background-color: #28a745;
}

.toast-error {
	background-color: #dc3545;
}