<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Attention!</title>
    <link href="/images/yura.ico" rel="icon">
    <link href="/app.css" rel="stylesheet">
</head>
<body>

<div id="container"></div>

<!-- WEB SITE JS -->
<script src="/app.js"></script>
<script type="module">
    import {bootBox} from "/common.js";

    new Vue({
        el: '#container',
        mounted() {
            bootBox.alertWithCall("管理员还未登入，请先登入！", () => {
                location.href = "/business/manager_login";
            });
        }
    });

</script>

</body>
</html>