<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.elianacc.yurayura.dao.SysOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.elianacc.yurayura.entity.SysOrg">
        <id column="id" property="id"/>
        <result column="org_name" property="orgName"/>
        <result column="org_create_time" property="orgCreateTime"/>
        <result column="org_update_time" property="orgUpdateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_name, org_create_time, org_update_time
    </sql>

</mapper>
