<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yura~yura~后台管理 - (●'◡'●)ﾉ♥</title>
    <link href="/images/yura.ico" rel="icon">
    <link href="/app.css" rel="stylesheet">
    <link href="/pages/backstage.css" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/backstage_navbar_fragment :: navbar"></div>
<div th:replace="fragments/backstage_sidemenu_fragment :: sidemenu"></div>
<div th:replace="fragments/comic_info_fragment :: container"></div>

<!-- WEB SITE JS -->
<script src="/app.js"></script>
<script src="/comment.js"></script>
<script src="/pages/backstage_navbar.js"></script>
<script src="/pages/backstage_sidemenu.js"></script>
<script src="/pages/comic_info/comic_info.js"></script>

</body>
</html>