package ${package.Controller};

#if(${swagger2})
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
#end
import org.springframework.util.ObjectUtils;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.beans.factory.annotation.Autowired;
import ${package.Service}.${table.serviceName};
import ${cfg.packageParentPath}.dto.IdDto;
import ${cfg.packageParentPath}.vo.ApiResult;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * $!{table.comment} controller
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("/api/#if(${controllerMappingHyphenStyle})#if(${cfg.isSysModule})sys/${table.entityPath}#else${table.entityPath}#end#else#if(${cfg.isSysModule})sys/${table.entityPath}#else${table.entityPath}#end#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
    #if(${swagger2})
@Api(tags = "$!{table.comment}API")
    #end
public class ${table.controllerName} {
#end

    @Autowired
    private ${table.serviceName} i${entity}Service;

    /**
     * 查询$!{table.comment}（根据$!{table.comment}id）
     *
     * @param dto
     * @return ${cfg.packageParentPath}.vo.ApiResult
     */
    @GetMapping("/getById")
    #if(${swagger2})
    @ApiOperation("查询$!{table.comment}（根据$!{table.comment}id）")
    #end
    public ApiResult getById(IdDto dto) {
        if (ObjectUtils.isEmpty(dto.getId())) {
            return ApiResult.warn("id不能为空");
        }
        return ApiResult.success("查询成功", i${entity}Service.getById(dto.getId()));
    }
}

#end
