<div data-th-fragment="business_sidemenu_fragment" xmlns:th="http://www.thymeleaf.org"
     xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">

    <!-- BootSideMenu -->
    <div id="bootSideMenu">
        <!-- BootSideMenu头部 -->
        <div class="side-user text-white p-1">
            <img src="/images/xiaomai.jpg"
                 class="img-thumbnail rounded" width="23%"/>
            <span class="ml-3 font-weight-normal" th:text="'管理员：'+${session.managerSession.managerName}"></span>
        </div>
        <!-- metisMenu -->
        <nav class="sidebar-nav">
            <ul class="metismenu">
                <li class="mm-active font-size-14" shiro:hasPermission="sys">
                    <a class="has-arrow"
                       href="#" aria-expanded="true"><i class="fa fa-bars fa-lg"></i>&nbsp;&nbsp;系统管理</a>
                    <ul>
                        <li><a :href="sideMenuUrl.menuA[0]">
                            <i class="fa fa-book fa-lg"></i>&nbsp;&nbsp;数据字典管理</a></li>
                    </ul>
                </li>
                <li class="mm-active font-size-14">
                    <a class="has-arrow"
                       href="#" aria-expanded="true"><i class="fa fa-bars fa-lg"></i>&nbsp;&nbsp;番剧管理</a>
                    <ul>
                        <li><a :href="sideMenuUrl.menuB[0]">
                            <i class="fa fa-github-alt fa-lg"></i>&nbsp;&nbsp;番剧信息管理</a></li>
                    </ul>
                </li>
                <li class="mm-active font-size-14">
                    <a class="has-arrow" href="#" aria-expanded="true"><i class="fa fa-bars fa-lg"></i>&nbsp;&nbsp;用户管理</a>
                    <ul>
                        <li><a :href="sideMenuUrl.menuC[0]">
                            <i class="fa fa-address-card fa-lg"></i>&nbsp;&nbsp;用户信息管理</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <script src='/plugins/BootSideMenu.js'></script>
    <script src='/plugins/metisMenu.min.js'></script>
    <script type='module'>
        import {init} from '/common.js';

        new Vue({
            el: '#bootSideMenu',
            data: {
                sideMenuUrl: {
                    menuA: [
                        '/business/sys_dict'
                    ],
                    menuB: [
                        '/business/comic_info'
                    ],
                    menuC: [
                        '/business/user_info'
                    ]
                }
            },
            mounted() {
                init.initSideMenu('#bootSideMenu');
                init.initMetisMenu('.metismenu');
            }
        });
    </script>

    <style>
        @import '/plugins/BootSideMenu.css';
        @import '/plugins/metisMenu.min.css';

        /* bootSideMenu样式重写 */
        #bootSideMenu {
            width: 210px;
            background: #1c2938;
        }

        #bootSideMenu .side-user {
            background: #1c2938;
        }

        #bootSideMenu .toggler {
            background: #1c2938;
        }

        /* metisMenu */
        .sidebar-nav .metismenu {
            background: #1c2938;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .sidebar-nav ul {
            padding: 0;
            margin: 0;
            list-style: none;
            background: #15202b;
        }

        .sidebar-nav .metismenu li:first-child {
            margin-top: 0px;
        }

        .sidebar-nav .metismenu > li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: relative;
        }

        .sidebar-nav .metismenu a {
            position: relative;
            display: block;
            padding: 13px 15px;
            color: #adb5bd;
            outline-width: 0;
            transition: all .3s ease-out;
            text-decoration: none;
            background-color: transparent;
        }

        .sidebar-nav .metismenu a:hover, .sidebar-nav .metismenu a:focus,
        .sidebar-nav .metismenu a:active {
            color: #f8f9fa;
            text-decoration: none;
            background: #0b7285;
        }
    </style>

</div>