<div data-th-fragment="business_navbar_fragment">

    <!-- 置顶导航 -->
    <nav class="navbar navbar-dark bg-twitternav fixed-top" id="navbar">
        <span class="navbar-brand mb-0 h1">Yura~yura(B端)</span>
        <form class="form-inline">
            <button class="btn btn-danger ml-2" type="button"
                    @click="logoutManager">
                <i class="fa fa-sign-out"></i>&nbsp;&nbsp;注销
            </button>
        </form>
    </nav>

    <script>
        const navBarVm = new Vue({
            el: "#navbar",
            methods: {
                logoutManager: function () {
                    bootBoxUtil.bootBoxConfirm("确定要注销吗？", function () {
                        $.ajax({
                            url: "/sys/manager/logout",
                            data: null,
                            type: "post",
                            dataType: "json",
                            success: function (res) {
                                if (res.code == 200) {
                                    location.reload();
                                } else if (res.code == 100) {
                                    toastr.error(res.msg);
                                } else if (res.code == 500) {
                                    bootBoxUtil.bootBoxAlert(res.msg);
                                }
                            }
                        });
                    });
                }
            }
        });
    </script>

    <style>
        /* 推特色导航背景 */
        .bg-twitternav {
            background-color: #1c2938;
        }
    </style>

</div>