<div data-th-fragment="business_index_fragment" xmlns:th="http://www.thymeleaf.org">

    <!-- container -->
    <div class="container p-0" id="container">
        <div class="row mt-5">
            <div class="col-12 offset-1 mt-4">
                <div class="jumbotron">
                    <h1 class="display-4" th:text="'Hello, '+${session.managerSession.managerName} + '!'"></h1>
                    <p class="lead">欢迎进入Yura~Yura~后端管理页面</p>
                    <hr class="my-4">
                    <p>YuraYura是一个兴趣使然的项目，主要的功能是做番剧的导视，数据的应用</p>
                    <p class="lead github-btn-p">
                        <a class="btn btn-primary btn-lg" :href="githubUrl" data-toggle="tooltip"
                           data-placement="right" title="点击跳转到本项目GitHub仓库" target="_blank"><i
                                class="fa fa-github fa-lg"></i>&nbsp;&nbsp;了解更多</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script type='module'>
        new Vue({
            el: '#container',
            data: {
                githubUrl: 'https://github.com/elianacc/yurayura'
            },
            mounted() {
                $('[data-toggle="tooltip"]').tooltip();
            }
        });
    </script>

    <style>
        /* jumbotron样式重写 */
        .jumbotron {
            background-color: #1c2938;
            color: #fff;
        }

        .github-btn-p {
            position: relative;
            top: 2rem;
        }
    </style>

</div>