<!-- BootSideMenu -->
<div id="bootsidemenu" data-th-fragment="sidemenu" xmlns:th="http://www.thymeleaf.org">
    <!-- BootSideMenu头部 -->
    <div class="side-user text-white p-1">
        <img src="/images/xiaomai.jpg"
             class="img-thumbnail rounded" width="23%"/>
        <span class="ml-3 font-weight-bold" th:text="'管理员：'+${session.managerSession.managerName}"></span>
    </div>
    <!-- metismenu -->
    <nav class="sidebar-nav">
        <ul class="metismenu" id="metismenu">
            <li class="mm-active font-size-14">
                <a class="has-arrow"
                   href="#" aria-expanded="true"><i class="fa fa-bars fa-lg"></i>&nbsp;&nbsp;番剧管理</a>
                <ul>
                    <li><a :href="sideMenuUrl.menuA[0]">
                        <i class="fa fa-github-alt fa-lg"></i>&nbsp;&nbsp;番剧信息管理</a></li>
                    <li><a :href="sideMenuUrl.menuA[1]">
                        <i class="fa fa-bar-chart fa-lg"></i>&nbsp;&nbsp;番剧用户数据管理</a></li>

                </ul>
            </li>
            <li class="mm-active font-size-14">
                <a class="has-arrow" href="#" aria-expanded="true"><i class="fa fa-bars fa-lg"></i>&nbsp;&nbsp;用户管理</a>
                <ul>
                    <li><a :href="sideMenuUrl.menuB[0]">
                        <i class="fa fa-address-card fa-lg"></i>&nbsp;&nbsp;用户信息管理</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>