<div data-th-fragment="comic_info_fragment">

    <!-- container -->
    <div class="container p-0" id="container">

        <!-- 操作按钮及数据筛选表单row -->
        <div class="row mt-5">
            <div class="col-2 offset-2 mt-4">
                <div class="btn-group float-left">
                    <button type="button"
                            class="btn btn-dark btn-twitter btn-sm"
                            @click="insertModalOpen">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;添加
                    </button>
                    <button type="button"
                            class="btn btn-dark btn-twitter btn-sm"
                            @click="deleteBatch">
                        <i class='fa fa-trash'></i>&nbsp;&nbsp;删除
                    </button>
                </div>
            </div>
            <div class="col-8 mt-4">
                <form @submit.prevent="selectContent">
                    <div class="input-group input-group-sm float-right">
                        <div class="input-group-prepend">
                            <span class="input-group-text">番剧名</span>
                        </div>
                        <input type="text" class="form-control" v-model="selectFormData.comicName"/>
                        <div class="input-group-prepend">
                            <span class="input-group-text">状态</span>
                        </div>
                        <select class="custom-select" v-model="selectFormData.comicStatus">
                            <option value="" selected></option>
                            <option :value="item.dictVal" v-for="item in comicStatusDict">{{item.dictName}}</option>
                        </select>
                        <div class="input-group-prepend">
                            <span class="input-group-text">上架状态</span>
                        </div>
                        <select class="custom-select" v-model="selectFormData.comicShelfStatus">
                            <option value="" selected></option>
                            <option :value="item.dictVal" v-for="item in comicShelfStatusDict">{{item.dictName}}
                            </option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-dark btn-twitter btn-sm" type="submit">
                                <i class="fa fa-filter"></i>&nbsp;&nbsp;查询
                            </button>
                            <button class="btn btn-dark btn-twitter btn-sm" type="button"
                                    @click="clearSelectContent">
                                <i class="fa fa-eraser"></i>&nbsp;&nbsp;清空
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 数据表格row -->
        <div class="row mt-3 r2">
            <div class="col-10 offset-2 c1">
                <table class="table table-dark table-borderless rounded bg-twittercont" v-show="pageInfo != ''">
                    <thead>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center font-size-14">图片</td>
                        <td class="text-center font-size-14" style="width:15%">番剧名</td>
                        <td class="text-center font-size-14" style="width:35%">简介</td>
                        <td class="text-center font-size-14" style="width:10%">状态</td>
                        <td class="text-center font-size-14" style="width:11%">标签</td>
                        <td class="text-center font-size-14" style="width:14%">时间</td>
                        <td class="text-center font-size-14" style="width:15%">管理</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in pageInfo.list" :key="index">
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                       :id="'customCheck-'+ index" :value="item.id" v-model="ids"/>
                                <label class="custom-control-label" :for="'customCheck-'+ index"></label>
                            </div>
                        </td>
                        <td class="box">
                            <img :src="item.comicImageUrl" class="table-cmimg rounded"/>
                            <a :href="item.comicLink" target="_blank">
                                <div class="bmbox"><i class="fa fa-play-circle-o fa-5x"></i><br/><br/><br/></div>
                            </a>
                        </td>
                        <td class="font-size-12 text-center align-middle">{{item.comicName}}<span
                                v-show="item.comicShelfStatus == 0">(已下架)</span></td>
                        <td class="font-size-12"><p class="table-cmcontent text-justify">{{item.comicContent |
                            cmContentFilter}}</p></td>
                        <td class="font-size-12 text-center align-middle">{{item.comicStatus |
                            cmStatusFilter(item.comicCurrentEpisodes)}}
                        </td>
                        <td class="font-size-12 text-center align-middle">{{item.comicLabel | cmLabelFilter}}</td>
                        <td class="font-size-12 text-center align-middle">{{item.comicTime}}</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-warning btn-sm font-size-14 text-light"
                                    @click="detailModalOpen(item.id)">
                                <i class="fa fa-file-text-o"></i>&nbsp;&nbsp;详情
                            </button>
                            <br/><br/>
                            <button type="button" class="btn btn-info btn-sm font-size-14"
                                    @click="updateModalOpen(item.id)">
                                <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;修改
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex align-items-center justify-content-center flex-row lead text-white font-size-14">
                    <span v-show="pageInfo == ''"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;查询不到数据</span>
                </div>
            </div>
        </div>

        <!-- 数据表格信息及分页row -->
        <div class="row mt-4 mb-5 r3">
            <div class="col-2 offset-2">
                <span class="badge badge-dark bg-twittercont font-size-14"
                      v-text="'共' + pageInfo.pages + '页/' + pageInfo.total + '个'" v-show="pageInfo != ''"></span>
                <span class="badge badge-dark bg-twittercont font-size-14" v-show="pageInfo == ''">共0页/0个</span>
            </div>
            <div class="col-8 c2">
                <nav v-show="pageInfo != ''">
                    <ul class="pagination float-right font-size-14">
                        <li class='page-item'>
                            <a class='page-link bg-twittercont border-twittercont text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isFirstPage"
                               @click="toFirstPage">首页</a>
                        </li>
                        <li class='page-item'>
                            <a class='page-link bg-twittercont border-twittercont text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isFirstPage"
                               @click="toPrePage">上一页</a>
                        </li>
                        <div v-for="item in pageInfo.navigatepageNums">
                            <li class='page-item active' v-if="pageInfo.pageNum == item">
                                <a class='page-link border-twittercont'
                                   href='javascript:void(0)'>{{item}}</a>
                            </li>
                            <li class='page-item' v-else>
                                <a class='page-link bg-twittercont border-twittercont text-white'
                                   href='javascript:void(0)' @click="toClickPage(item)">{{item}}</a>
                            </li>
                        </div>
                        <li class='page-item'>
                            <a class='page-link bg-twittercont border-twittercont text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isLastPage" @click="toNextPage">下一页</a>
                        </li>
                        <li class='page-item'>
                            <a class='page-link bg-twittercont border-twittercont text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isLastPage"
                               @click="toLastPage(pageInfo.pages)">末页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- 数据模态框 -->
        <div class="modal fade" id="dataModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="dataForm" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                <strong>{{modalTitle}}</strong>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span><i class="fa fa-window-close text-white font-size-30"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group d-none">
                                <label class="col-form-label"> id：</label>
                                <input type="text" class="form-control form-control-sm" name="id" v-model="id"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 番剧名：</label>
                                <input type="text" class="form-control form-control-sm" name="comicName"
                                       placeholder="请输入番剧名字" v-model="comicName" :disabled="isDetailModal"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 时间：</label>
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm datepicker"
                                           name="comicTime" placeholder="0000-00-00" v-model="comicTime"
                                           :disabled="isDetailModal"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 简介：</label>
                                <textarea class="form-control form-control-sm" name="comicContent" placeholder="请输入简介"
                                          rows="6"
                                          v-model="comicContent" :disabled="isDetailModal"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 状态：</label>
                                <div class="custom-control custom-radio custom-control-inline"
                                     v-for="item in comicUpdtStatusDict">
                                    <input type="radio" :id="'comicUpdtStatus-'+ item.id" name="comicStatus"
                                           class="custom-control-input form-control-sm" :value="item.dictVal"
                                           v-model="comicStatus"
                                           :disabled="isDetailModal"/>
                                    <label class="custom-control-label font-size-14"
                                           :for="'comicUpdtStatus-'+ item.id">{{item.dictName}}</label>
                                </div>
                            </div>
                            <div class="form-group" v-show="isUdTimeShow">
                                <select class="form-control form-control-sm" name="comicUdTime" v-model="comicUdTime"
                                        :disabled="isDetailModal">
                                    <option value="" selected disabled>----请选择更新时间----</option>
                                    <option :value="item.dictVal" v-for="item in comicUpdtTimeDict">{{item.dictName}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 当前话数：</label>
                                <input type="number" class="form-control form-control-sm" name="comicCurrentEpisodes"
                                       placeholder="请输入当前话数" v-model="comicCurrentEpisodes"
                                       :disabled="isDetailModal"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 标签：</label><br/>
                                <div class="custom-control custom-checkbox custom-control-inline"
                                     v-for="item in comicLabelDict">
                                    <input type="checkbox" class="custom-control-input form-control-sm"
                                           :id="'comicTag-'+ item.id" :value="item.dictVal" name="comicTag"
                                           v-model="comicTag"
                                           :disabled="isDetailModal"/>
                                    <label class="custom-control-label font-size-14" :for="'comicTag-'+ item.id">
                                        <i class="fa fa-tag"></i> {{item.dictName}}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 自定义标签：</label>
                                <div class='row'>
                                    <input type="text" class="form-control form-control-sm col-2 ml-3"
                                           name="freelabel" placeholder="标签一" v-model="freeLabelA"
                                           :disabled="isDetailModal"/>
                                    <input type="text" class="form-control form-control-sm col-2 offset-1"
                                           name="freelabel" placeholder="标签二" v-model="freeLabelB"
                                           :disabled="isDetailModal"/>
                                    <input type="text" class="form-control form-control-sm col-2 offset-1"
                                           name="freelabel" placeholder="标签三" v-model="freeLabelC"
                                           :disabled="isDetailModal"/>
                                    <input type="text"
                                           class="form-control form-control-sm col-2 offset-1"
                                           name="freelabel" placeholder="标签四" v-model="freeLabelD"
                                           :disabled="isDetailModal"/>
                                </div>
                            </div>
                            <div class="form-group d-none">
                                <label class="col-form-label font-size-14"> 标签汇总：</label>
                                <input type="text" class="form-control form-control-sm"
                                       name="comicLabel" v-model="comicLabel"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 上传图片：</label>
                                <div class="custom-file" v-show="!isDetailModal">
                                    <input type="file" class="custom-file-input form-control-sm"
                                           name="cmImgFile" @change="cmImgFileChange" ref="cmImgFile"/>
                                    <label class="custom-file-label font-size-14">{{cmImgFileLb}}</label>
                                </div>
                                <br/> <br/>
                                <img :src="cmImgFilePv" class="rounded" width="25%"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 观看地址：</label>
                                <input type="url" class="form-control form-control-sm" name="comicLink"
                                       placeholder="请输入观看地址" v-model="comicLink" :disabled="isDetailModal"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 上架状态：</label>
                                <div class="custom-control custom-radio custom-control-inline"
                                     v-for="item in comicShelfStatusDict">
                                    <input type="radio" :id="'comicShelfStatus-'+ item.id" name="comicShelfStatus"
                                           class="custom-control-input form-control-sm" :value="item.dictVal"
                                           v-model="comicShelfStatus"
                                           :disabled="isDetailModal"/>
                                    <label class="custom-control-label font-size-14"
                                           :for="'comicShelfStatus-'+ item.id">{{item.dictName}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger font-size-14" data-dismiss="modal">
                                <i class="fa fa-close"></i>&nbsp;&nbsp;关闭
                            </button>
                            <button type="button" class="btn btn-primary font-size-14"
                                    @click="insertContent" v-show="isInsertModal">
                                <i class="fa fa-check"></i>&nbsp;&nbsp;提交
                            </button>
                            <button type="button" class="btn btn-primary font-size-14"
                                    @click="updateContent" v-show="!isInsertModal && !isDetailModal">
                                <i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;提交
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script src='/plugins/jquery.scrollUp.min.js'></script>
    <script src='/plugins/jquery.unveil.js'></script>
    <script type='module'>
        import {initUtil, bootBoxUtil, datePickerUtil, sysDictUtil} from '/util.js';

        const containerVm = new Vue({
            el: '#container',
            data: {
                selectFormData: {
                    comicName: '',
                    comicStatus: '',
                    comicShelfStatus: ''
                },
                ids: [],
                nowPageNum: 1,
                pageInfo: '',
                modalTitle: '',
                isInsertModal: false,
                isDetailModal: false,
                isUdTimeShow: false,
                id: 0,
                comicName: '',
                comicTime: '',
                comicContent: '',
                comicStatus: 0,
                comicUdTime: '',
                comicCurrentEpisodes: 1,
                comicTag: [],
                freeLabelA: '',
                freeLabelB: '',
                freeLabelC: '',
                freeLabelD: '',
                cmImgFileLb: '示例图片.jpg',
                cmImgFilePv: '/images/tpjxz.jpg',
                comicLink: '',
                comicShelfStatus: 1,
                cmImgFileLbTmp: '',
                cmImgFilePvTmp: '',
                comicLabelDict: '',
                comicStatusDict: '',
                comicUpdtTimeDict: '',
                comicUpdtStatusDict: '',
                comicShelfStatusDict: ''
            },
            methods: {
                getPage() {
                    let sendData = this.selectFormData;
                    sendData.pageNum = this.nowPageNum;
                    sendData.pageSize = 10;
                    axios({
                        method: 'post',
                        url: '/comic/getPageToB',
                        headers: {'Content-Type': 'application/json;charset=utf-8'},
                        data: JSON.stringify(sendData),
                        responseType: 'json'
                    }).then(function (res) {
                        if (res.data.code == 200) {
                            containerVm.pageInfo = res.data.data;
                        } else if (res.data.code == 100) {
                            containerVm.pageInfo = '';
                        } else if (res.data.code == 500) {
                            bootBoxUtil.alert(res.data.msg);
                        }
                    });
                },
                selectContent() {
                    this.nowPageNum = 1;
                    this.getPage();
                },
                clearSelectContent() {
                    this.selectFormData.comicName = '';
                    this.selectFormData.comicStatus = '';
                    this.selectFormData.comicShelfStatus = '';
                    this.selectContent();
                },
                toFirstPage() {
                    this.nowPageNum = 1;
                    this.getPage();
                    this.scrollUp();
                },
                toPrePage() {
                    this.nowPageNum = this.nowPageNum - 1;
                    this.getPage();
                    this.scrollUp();
                },
                toNextPage() {
                    this.nowPageNum = this.nowPageNum + 1;
                    this.getPage();
                    this.scrollUp();
                },
                toLastPage(lastPage) {
                    this.nowPageNum = lastPage;
                    this.getPage();
                    this.scrollUp();
                },
                toClickPage(clickPage) {
                    this.nowPageNum = clickPage;
                    this.getPage();
                    this.scrollUp();
                },
                insertModalOpen() {
                    this.modalTitle = '『添加窗口』';
                    this.isDetailModal = false;
                    this.isInsertModal = true;
                    this.modalShow();
                },
                insertContent() {
                    if (this.comicName.trim() == '') {
                        toastr.warning('名称不能为空');
                    } else if (this.comicContent.length > 500) {
                        toastr.warning('简介不能超过500个字符');
                    } else {
                        $("#dataForm").ajaxSubmit({
                            url: '/comic/insert',
                            type: 'post',
                            dataType: 'json',
                            success(res) {
                                if (res.code == 200) {
                                    toastr.success(res.msg);
                                    containerVm.clearSelectContent();
                                    containerVm.modalHide();
                                } else if (res.code == 100) {
                                    toastr.error(res.msg);
                                } else if (res.code == 101) {
                                    console.log(res.msg);
                                } else if (res.code == 500) {
                                    bootBoxUtil.alert(res.msg);
                                }
                            }
                        });
                    }
                },
                deleteBatch() {
                    bootBoxUtil.confirm('确定要删除选中项吗？', function () {
                        if (containerVm.ids.length == 0) {
                            toastr.warning('请至少选择一项删除');
                        } else {
                            let sendData = new FormData();
                            sendData.append('ids', containerVm.ids.toString());
                            axios({
                                method: 'post',
                                url: '/comic/deleteBatchByIds',
                                data: sendData,
                                responseType: 'json'
                            }).then(function (res) {
                                if (res.data.code == 200) {
                                    toastr.success(res.data.msg);
                                    containerVm.ids = [];
                                    containerVm.getPage();
                                } else if (res.data.code == 100) {
                                    toastr.error(res.data.msg);
                                } else if (res.data.code == 500) {
                                    bootBoxUtil.alert(res.data.msg);
                                }
                            });
                        }
                    });
                },
                modalSetVal(id) {
                    let sendData = new FormData();
                    sendData.append('id', id);
                    axios({
                        method: 'post',
                        url: '/comic/getById',
                        data: sendData,
                        responseType: 'json'
                    }).then(function (res) {
                        if (res.data.code == 200) {
                            containerVm.id = res.data.data.id;
                            containerVm.comicName = res.data.data.comicName;
                            containerVm.comicTime = res.data.data.comicTime;
                            containerVm.comicContent = res.data.data.comicContent;
                            if (res.data.data.comicStatus == 0) {
                                containerVm.comicStatus = 0;
                            } else {
                                containerVm.comicStatus = 8;
                                containerVm.comicUdTime = res.data.data.comicStatus;
                            }
                            containerVm.comicCurrentEpisodes = res.data.data.comicCurrentEpisodes;
                            containerVm.comicLabel = res.data.data.comicLabel;
                            let fileName = res.data.data.comicImageUrl;
                            let fileNewNameStart = fileName.lastIndexOf('/');
                            containerVm.cmImgFileLb = fileName.substring(fileNewNameStart + 1);
                            containerVm.cmImgFilePv = res.data.data.comicImageUrl;
                            containerVm.comicLink = res.data.data.comicLink;
                            containerVm.comicShelfStatus = res.data.data.comicShelfStatus;
                            containerVm.cmImgFileLbTmp = fileName.substring(fileNewNameStart + 1);
                            containerVm.cmImgFilePvTmp = res.data.data.comicImageUrl;
                            datePickerUtil.setDate('.datepicker', res.data.data.comicTime);
                            containerVm.modalShow();
                        } else if (res.data.code == 100) {
                            toastr.error(res.data.msg);
                        } else if (res.data.code == 500) {
                            bootBoxUtil.alert(res.data.msg);
                        }
                    });
                },
                detailModalOpen(id) {
                    this.modalTitle = '『详情窗口』';
                    this.isDetailModal = true;
                    this.isInsertModal = false;
                    this.modalSetVal(id);
                },
                updateModalOpen(id) {
                    this.modalTitle = '『修改窗口』';
                    this.isDetailModal = false;
                    this.isInsertModal = false;
                    this.modalSetVal(id);
                },
                updateContent() {
                    if (this.comicName.trim() == '') {
                        toastr.warning('名称不能为空');
                    } else if (this.comicContent.length > 500) {
                        toastr.warning('简介不能超过500个字符');
                    } else {
                        $('#dataForm').ajaxSubmit({
                            url: '/comic/update',
                            type: 'post',
                            dataType: 'json',
                            success(res) {
                                if (res.code == 200) {
                                    toastr.success(res.msg);
                                    containerVm.getPage();
                                    containerVm.modalHide();
                                } else if (res.code == 100) {
                                    toastr.error(res.msg);
                                } else if (res.code == 101) {
                                    console.log(res.msg);
                                } else if (res.code == 500) {
                                    bootBoxUtil.alert(res.msg);
                                }
                            }
                        });
                    }
                },
                datePickerBind() {
                    $('.datepicker').datepicker().on('hide', function () {
                        containerVm.comicTime = $(this).val();
                    });
                },
                cmImgFileChange(e) {
                    if (e.target.files.length != 0) {
                        let file = e.target.files[0];
                        let fileName = file.name;
                        if (!/.(gif|jpg|jpeg|png|GIF|JPG|JPEG|PNG)$/.test(fileName)) {
                            toastr.warning('图片格式必须是.gif,jpeg,jpg,png中的一种');
                            if (this.isInsertModal) {
                                this.cmImgFileLb = '示例图片.jpg';
                                this.cmImgFilePv = '/images/tpjxz.jpg';
                            } else {
                                this.cmImgFileLb = this.cmImgFileLbTmp;
                                this.cmImgFilePv = this.cmImgFilePvTmp;
                            }
                            this.$refs.cmImgFile.value = '';
                        } else if ((file.size).toFixed(2) >= 102400) {
                            toastr.warning('图片不能超过100KB');
                            if (this.isInsertModal) {
                                this.cmImgFileLb = '示例图片.jpg';
                                this.cmImgFilePv = '/images/tpjxz.jpg';
                            } else {
                                this.cmImgFileLb = this.cmImgFileLbTmp;
                                this.cmImgFilePv = this.cmImgFilePvTmp;
                            }
                            this.$refs.cmImgFile.value = '';
                        } else {
                            this.cmImgFileLb = fileName;
                            let reader = new FileReader();
                            reader.readAsDataURL(file);
                            reader.onload = function (e) {
                                containerVm.cmImgFilePv = e.target.result;
                            }
                        }
                    } else {
                        if (this.isInsertModal) {
                            this.cmImgFileLb = '示例图片.jpg';
                            this.cmImgFilePv = '/images/tpjxz.jpg';
                        } else {
                            this.cmImgFileLb = this.cmImgFileLbTmp;
                            this.cmImgFilePv = this.cmImgFilePvTmp;
                        }
                    }
                },
                modalReset() {
                    $('#dataModal').on('hidden.bs.modal', function () {
                        containerVm.id = 0;
                        containerVm.comicName = '';
                        containerVm.comicTime = '';
                        containerVm.comicContent = '';
                        containerVm.comicStatus = 0;
                        containerVm.comicUdTime = '';
                        containerVm.comicCurrentEpisodes = 1;
                        containerVm.comicTag = [];
                        containerVm.freeLabelA = '';
                        containerVm.freeLabelB = '';
                        containerVm.freeLabelC = '';
                        containerVm.freeLabelD = '';
                        containerVm.cmImgFileLb = '示例图片.jpg';
                        containerVm.cmImgFilePv = '/images/tpjxz.jpg';
                        containerVm.comicLink = '';
                        containerVm.comicShelfStatus = 1;
                        containerVm.$refs.cmImgFile.value = '';
                        datePickerUtil.clearDate('.datepicker');
                    });
                },
                modalShow() {
                    $('#dataModal').modal();
                },
                modalHide() {
                    $('#dataModal').modal('hide');
                },
                scrollUp() {
                    document.getElementById('scrollUp').click();
                },
                getSysDict() {
                    this.comicLabelDict = sysDictUtil.get('comicLabel');
                    this.comicStatusDict = sysDictUtil.get('comicStatus');
                    this.comicUpdtStatusDict = sysDictUtil.get('comicUpdtStatus');
                    this.comicUpdtTimeDict = sysDictUtil.get('comicUpdtTime');
                    this.comicShelfStatusDict = sysDictUtil.get('comicShelfStatus');
                }
            },
            watch: {
                comicStatus() {
                    this.isUdTimeShow = this.comicStatus == 8;
                    if (this.comicStatus == 0) {
                        this.comicUdTime = '';
                    }
                }
            },
            computed: {
                freeLabelArr: {
                    get() {
                        let tempFreeLabel = [];
                        tempFreeLabel.push(this.freeLabelA);
                        tempFreeLabel.push(this.freeLabelB);
                        tempFreeLabel.push(this.freeLabelC);
                        tempFreeLabel.push(this.freeLabelD);
                        return tempFreeLabel;
                    },
                    set(value) {
                        this.freeLabelA = value[0];
                        this.freeLabelB = value[1];
                        this.freeLabelC = value[2];
                        this.freeLabelD = value[3];
                    }
                },
                comicLabel: {
                    get() {
                        return this.comicTag.concat(this.freeLabelArr);
                    },
                    set(value) {
                        let labelArr = value.split(',');
                        this.comicTag = labelArr.slice(0, labelArr.length - 4);
                        let tempFreeLabel = [];
                        tempFreeLabel.push(labelArr[labelArr.length - 4]);
                        tempFreeLabel.push(labelArr[labelArr.length - 3]);
                        tempFreeLabel.push(labelArr[labelArr.length - 2]);
                        tempFreeLabel.push(labelArr[labelArr.length - 1]);
                        this.freeLabelArr = tempFreeLabel;
                    }
                }
            },
            mounted() {
                initUtil.initToastr();
                initUtil.initDatePicker('.datepicker');
                initUtil.initScrollUp();
                initUtil.initImgLazyLoad();
                this.datePickerBind();
                this.modalReset();
                this.getSysDict();
                this.getPage();
            }
        });

        Vue.filter('cmStatusFilter', function (status, currentEpisodes) {
            let arrCmStatus = [];
            let comicStatusDicts = containerVm.comicStatusDict;
            for (let i in comicStatusDicts) {
                arrCmStatus.push(comicStatusDicts[i].dictName);
            }
            for (let i = 0; i < arrCmStatus.length; i++) {
                if (status == 0) {
                    return arrCmStatus[i] + '：全' + currentEpisodes + '话';
                } else if (status == i) {
                    return arrCmStatus[i] + '：更新至第' + currentEpisodes + '话';
                }
            }
        });

        Vue.filter('cmLabelFilter', function (value) {
            let arrCmLabel = (value).split(',');
            let arrNewCmLabel = [];
            for (let i = 0; i < arrCmLabel.length; i++) {
                if (arrCmLabel[i] != '') {
                    arrNewCmLabel.push(arrCmLabel[i]);
                }
            }
            return arrNewCmLabel.toString();
        });

        Vue.filter('cmContentFilter', function (value) {
            let subContent = value.substr(0, 200).trim();
            return subContent + '...';
        });
    </script>

    <style>
        /* 番剧图片 */
        .r2 .c1 .table-cmimg {
            width: 165px;
            height: 217px;
        }

        /* 番剧内容p */
        .r2 .c1 .table-cmcontent {
            line-height: 16px;
            height: 224px;
            overflow: hidden;
        }

        /* 番剧图片遮罩 */
        .box {
            width: 165px;
            height: 217px;
            position: relative;
            cursor: pointer;
        }

        .box .bmbox {
            width: 165px;
            height: 217px;
            background: black;
            position: absolute;
            bottom: 35px;
            left: 12px;
            display: none;
            font-size: 16px;
            color: white;
            text-align: center;
            padding-top: 68px;
            border-radius: .25rem;
        }

        .box:hover .bmbox {
            width: 165px;
            height: 217px;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 35px;
            left: 12px;
            display: block;
            font-size: 16px;
            color: white;
            text-align: center;
            padding-top: 68px;
            border-radius: .25rem;
        }
    </style>

</div>