<div data-th-fragment="sys_dict_fragment">

    <!-- container -->
    <div class="container p-0" id="container">

        <!-- 操作按钮及数据筛选表单row -->
        <div class="row mt-5">
            <div class="col-2 offset-2 mt-4">
                <div class="btn-group float-left">
                    <button type="button"
                            class="btn btn-dark btn-twitter btn-sm"
                            @click="insertModalOpen">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;添加
                    </button>
                    <button type="button"
                            class="btn btn-dark btn-twitter btn-sm"
                            @click="deleteBatch">
                        <i class='fa fa-trash'></i>&nbsp;&nbsp;删除
                    </button>
                </div>
            </div>
            <div class="col-4 offset-4 mt-4">
                <form id="selectContentForm">
                    <div class="input-group input-group-sm float-right">
                        <div class="input-group-prepend">
                            <span class="input-group-text">字典编码</span>
                        </div>
                        <input type="text" class="form-control" name="dictCode"/>
                        <div class="input-group-append">
                            <button class="btn btn-dark btn-twitter btn-sm" type="button"
                                    @click="selectContent">
                                <i class="fa fa-filter"></i>&nbsp;&nbsp;查询
                            </button>
                            <button class="btn btn-dark btn-twitter btn-sm" type="button"
                                    @click="clearSelectContent">
                                <i class="fa fa-eraser"></i>&nbsp;&nbsp;清空
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 数据表格row -->
        <div class="row mt-3 r2">
            <div class="col-10 offset-2 c1">
                <table class="table table-dark table-borderless rounded bg-twittercont" v-show="pageInfo != ''">
                    <thead>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center font-size-14" style="width:20%">字典编码</td>
                        <td class="text-center font-size-14" style="width:20%">字典名</td>
                        <td class="text-center font-size-14" style="width:20%">字典值</td>
                        <td class="text-center font-size-14" style="width:20%">状态</td>
                        <td class="text-center font-size-14" style="width:15%">管理</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in pageInfo.list" :key="index">
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                       :id="'customCheck-'+ index" :value="item.id" v-model="ids"/>
                                <label class="custom-control-label" :for="'customCheck-'+ index"></label>
                            </div>
                        </td>
                        <td class="font-size-12 text-center align-middle">{{item.dictCode}}</td>
                        <td class="font-size-12 text-center align-middle">{{item.dictName}}</td>
                        <td class="font-size-12 text-center align-middle">{{item.dictVal}}</td>
                        <td class="font-size-12 text-center align-middle">{{item.dictStatus | dictStatusFilter}}</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-info btn-sm font-size-14"
                                    @click="updateModalOpen(item.id)">
                                <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;修改
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex align-items-center justify-content-center flex-row lead text-white font-size-14">
                    <span v-show="pageInfo == ''"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;查询不到数据</span>
                </div>
            </div>
        </div>

        <!-- 数据表格信息及分页row -->
        <div class="row mt-4 mb-5 r3">
            <div class="col-2 offset-2">
                <span class="badge badge-dark bg-twittercont font-size-14"
                      v-text="'共' + pageInfo.pages + '页/' + pageInfo.total + '个'" v-show="pageInfo != ''"></span>
                <span class="badge badge-dark bg-twittercont font-size-14" v-show="pageInfo == ''">共0页/0个</span>
            </div>
            <div class="col-8 c2">
                <nav v-show="pageInfo != ''">
                    <ul class="pagination float-right font-size-14">
                        <li class='page-item'>
                            <a class='page-link bg-twittercont border-twittercont text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isFirstPage"
                               @click="toFirstPage">首页</a>
                        </li>
                        <li class='page-item'>
                            <a class='page-link bg-twittercont border-twittercont text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isFirstPage"
                               @click="toPrePage">上一页</a>
                        </li>
                        <div v-for="item in pageInfo.navigatepageNums">
                            <li class='page-item active' v-if="pageInfo.pageNum == item">
                                <a class='page-link border-twittercont'
                                   href='javascript:void(0)'>{{item}}</a>
                            </li>
                            <li class='page-item' v-else>
                                <a class='page-link bg-twittercont border-twittercont text-white'
                                   href='javascript:void(0)' @click="toClickPage(item)">{{item}}</a>
                            </li>
                        </div>
                        <li class='page-item'>
                            <a class='page-link bg-twittercont border-twittercont text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isLastPage" @click="toNextPage">下一页</a>
                        </li>
                        <li class='page-item'>
                            <a class='page-link bg-twittercont border-twittercont text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isLastPage"
                               @click="toLastPage(pageInfo.pages)">末页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- 数据模态框 -->
        <div class="modal fade" id="dataModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="dataForm">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                <strong>{{modalTitle}}</strong>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span><i class="fa fa-window-close text-white font-size-30"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group d-none">
                                <label class="col-form-label"> id：</label>
                                <input type="text" class="form-control form-control-sm" name="id" v-model="id"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 字典编码：</label>
                                <input type="text" class="form-control form-control-sm" name="dictCode"
                                       placeholder="请输入字典编码" v-model="dictCode"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 字典名：</label>
                                <input type="text" class="form-control form-control-sm" name="dictName"
                                       placeholder="请输入字典名" v-model="dictName"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 字典值：</label>
                                <input type="text" class="form-control form-control-sm" name="dictVal"
                                       placeholder="请输入字典值" v-model="dictVal"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 状态：</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="dictStatus1" name="dictStatus"
                                           class="custom-control-input form-control-sm" value="1" v-model="dictStatus"/>
                                    <label class="custom-control-label font-size-14"
                                           for="dictStatus1">启用</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="dictStatus2" name="dictStatus"
                                           class="custom-control-input form-control-sm" value="0" v-model="dictStatus"/>
                                    <label class="custom-control-label font-size-14"
                                           for="dictStatus2">禁用</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger font-size-14" data-dismiss="modal">
                                <i class="fa fa-close"></i>&nbsp;&nbsp;关闭
                            </button>
                            <button type="button" class="btn btn-primary font-size-14"
                                    @click="insertContent" v-show="isInsertModal">
                                <i class="fa fa-check"></i>&nbsp;&nbsp;提交
                            </button>
                            <button type="button" class="btn btn-primary font-size-14"
                                    @click="updateContent" v-show="!isInsertModal">
                                <i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;提交
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script>
        var that = this;

        const containerVm = new Vue({
            el: "#container",
            data: {
                ids: [],
                nowPageNum: 1,
                pageInfo: "",
                modalTitle: "",
                isInsertModal: false,
                id: 0,
                dictCode: "",
                dictName: "",
                dictVal: "",
                dictStatus: 1
            },
            methods: {
                getPage: function () {
                    $("#selectContentForm").ajaxSubmit({
                        url: "/sys/dict/getPage",
                        data: {
                            pageNum: this.nowPageNum,
                            pageSize: 20
                        },
                        type: "post",
                        dataType: "json",
                        success: function (res) {
                            if (res.code == 200) {
                                containerVm.pageInfo = res.data;
                            } else if (res.code == 100) {
                                containerVm.pageInfo = "";
                            } else if (res.code == 500) {
                                that.bootBoxAlert(res.msg);
                            }
                        }
                    });
                },
                selectContent: function () {
                    this.nowPageNum = 1;
                    this.getPage();
                },
                clearSelectContent: function () {
                    $("#selectContentForm").resetForm();
                    this.selectContent();
                },
                toFirstPage: function () {
                    this.nowPageNum = 1;
                    this.getPage();
                    this.scrollUp();
                },
                toPrePage: function () {
                    this.nowPageNum = this.nowPageNum - 1;
                    this.getPage();
                    this.scrollUp();
                },
                toNextPage: function () {
                    this.nowPageNum = this.nowPageNum + 1;
                    this.getPage();
                    this.scrollUp();
                },
                toLastPage: function (lastPage) {
                    this.nowPageNum = lastPage;
                    this.getPage();
                    this.scrollUp();
                },
                toClickPage: function (clickPage) {
                    this.nowPageNum = clickPage;
                    this.getPage();
                    this.scrollUp();
                },
                insertModalOpen: function () {
                    this.modalTitle = "『添加窗口』";
                    this.isInsertModal = true;
                    this.modalShow();
                },
                insertContent: function () {
                    if (this.dictCode.trim() == "") {
                        toastr.error("字典编码不能为空");
                    } else if (this.dictName.trim() == "") {
                        toastr.error("字典名不能为空");
                    } else if (this.dictVal.trim() == "") {
                        toastr.error("字典值不能为空");
                    } else {
                        $("#dataForm").ajaxSubmit({
                            url: "/sys/dict/insert",
                            type: "post",
                            dataType: "json",
                            success: function (res) {
                                if (res.code == 200) {
                                    toastr.success(res.msg);
                                    containerVm.clearSelectContent();
                                    containerVm.modalHide();
                                } else if (res.code == 100) {
                                    toastr.error(res.msg);
                                } else if (res.code == 101) {
                                    console.log(res.msg);
                                } else if (res.code == 500) {
                                    that.bootBoxAlert(res.msg);
                                }
                            }
                        });
                    }
                },
                deleteBatch: function () {
                    that.bootBoxConfirm("确定要删除选中项吗？", function () {
                        if (containerVm.ids.length == 0) {
                            toastr.error("请至少选择一项删除");
                        } else {
                            $.ajax({
                                url: "/sys/dict/deleteBatchByIds",
                                data: {
                                    ids: containerVm.ids.toString()
                                },
                                type: "post",
                                dataType: "json",
                                success: function (res) {
                                    if (res.code == 200) {
                                        toastr.success(res.msg);
                                        containerVm.getPage();
                                    } else if (res.code == 100) {
                                        toastr.error(res.msg);
                                    } else if (res.code == 500) {
                                        that.bootBoxAlert(res.msg);
                                    }
                                }
                            });
                        }
                    });
                },
                modalSetVal: function (id) {
                    $.ajax({
                        url: "/sys/dict/getById",
                        data: {
                            id: id
                        },
                        type: "post",
                        dataType: 'json',
                        success: function (res) {
                            if (res.code == 200) {
                                containerVm.id = res.data.id;
                                containerVm.dictCode = res.data.dictCode;
                                containerVm.dictName = res.data.dictName;
                                containerVm.dictVal = res.data.dictVal;
                                containerVm.dictStatus = res.data.dictStatus;
                                containerVm.modalShow();
                            } else if (res.code == 100) {
                                toastr.error(res.msg);
                            } else if (res.code == 500) {
                                that.bootBoxAlert(res.msg);
                            }
                        }
                    });
                },
                updateModalOpen: function (id) {
                    this.modalTitle = "『修改窗口』";
                    this.isInsertModal = false;
                    this.modalSetVal(id);
                },
                updateContent: function () {
                    if (this.dictCode.trim() == "") {
                        toastr.error("字典编码不能为空");
                    } else if (this.dictName.trim() == "") {
                        toastr.error("字典名不能为空");
                    } else if (this.dictVal.trim() == "") {
                        toastr.error("字典值不能为空");
                    } else {
                        $("#dataForm").ajaxSubmit({
                            url: "/sys/dict/update",
                            type: "post",
                            dataType: "json",
                            success: function (res) {
                                if (res.code == 200) {
                                    toastr.success(res.msg);
                                    containerVm.getPage();
                                    containerVm.modalHide();
                                } else if (res.code == 100) {
                                    toastr.error(res.msg);
                                } else if (res.code == 101) {
                                    console.log(res.msg);
                                } else if (res.code == 500) {
                                    that.bootBoxAlert(res.msg);
                                }
                            }
                        });
                    }
                },
                modalReset: function () {
                    $('#dataModal').on('hidden.bs.modal', function () {
                        containerVm.id = 0;
                        containerVm.dictCode = "";
                        containerVm.dictName = "";
                        containerVm.dictVal = "";
                        containerVm.dictStatus = 1;
                    });
                },
                modalShow: function () {
                    $("#dataModal").modal();
                },
                modalHide: function () {
                    $("#dataModal").modal('hide');
                },
                scrollUp: function () {
                    $("#scrollUp").click();
                }
            },
            mounted: function () {
                that.initToastr();
                that.initScrollUp();
                this.modalReset();
                this.getPage();
            }
        });

        Vue.filter("dictStatusFilter", function (value) {
            if (value == 1) {
                return "启用";
            } else {
                return "禁用";
            }
        });

    </script>

    <style>

    </style>

</div>