<div data-th-fragment="sys_dict_fragment">

    <!-- container -->
    <div class="container p-0" id="container">

        <!-- 操作按钮及数据筛选表单row -->
        <div class="row mt-5">
            <div class="col-2 offset-2 mt-4">
                <div class="btn-group float-left">
                    <button type="button"
                            class="btn btn-dark btn-twitter btn-sm"
                            @click="insertModalOpen">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;添加
                    </button>
                    <button type="button"
                            class="btn btn-dark btn-twitter btn-sm"
                            @click="deleteBatch">
                        <i class='fa fa-trash'></i>&nbsp;&nbsp;删除
                    </button>
                </div>
            </div>
            <div class="col-4 offset-4 mt-4">
                <form @submit.prevent="selectContent">
                    <div class="input-group input-group-sm float-right">
                        <div class="input-group-prepend">
                            <span class="input-group-text">字典编码</span>
                        </div>
                        <input type="text" class="form-control" v-model="selectFormData.dictCode"/>
                        <div class="input-group-append">
                            <button class="btn btn-dark btn-twitter btn-sm" type="submit">
                                <i class="fa fa-filter"></i>&nbsp;&nbsp;查询
                            </button>
                            <button class="btn btn-dark btn-twitter btn-sm" type="button"
                                    @click="clearSelectContent">
                                <i class="fa fa-eraser"></i>&nbsp;&nbsp;清空
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 数据表格row -->
        <div class="row mt-3 r2">
            <div class="col-10 offset-2 c1">
                <table class="table table-dark table-borderless rounded bg-twitter" v-show="pageInfo != ''">
                    <thead>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center font-size-14" style="width:20%">字典编码</td>
                        <td class="text-center font-size-14" style="width:20%">字典名</td>
                        <td class="text-center font-size-14" style="width:20%">字典值</td>
                        <td class="text-center font-size-14" style="width:20%">状态</td>
                        <td class="text-center font-size-14" style="width:15%">管理</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in pageInfo.list" :key="index">
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                       :id="'customCheck-'+ index" :value="item.id" v-model="ids"/>
                                <label class="custom-control-label" :for="'customCheck-'+ index"></label>
                            </div>
                        </td>
                        <td class="font-size-12 text-center align-middle">{{item.dictCode}}</td>
                        <td class="font-size-12 text-center align-middle">{{item.dictName}}</td>
                        <td class="font-size-12 text-center align-middle">{{item.dictVal}}</td>
                        <td class="font-size-12 text-center align-middle">{{item.dictStatus | dictStatusFilter}}</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-info btn-sm font-size-14"
                                    @click="updateModalOpen(item.id)">
                                <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;修改
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex align-items-center justify-content-center flex-row lead text-white font-size-14">
                    <span v-show="pageInfo == ''"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;查询不到数据</span>
                </div>
            </div>
        </div>

        <!-- 数据表格信息及分页row -->
        <div class="row mt-4 mb-5 r3">
            <div class="col-2 offset-2">
                <span class="badge badge-dark bg-twitter font-size-14"
                      v-text="'共' + pageInfo.pages + '页/' + pageInfo.total + '个'" v-show="pageInfo != ''"></span>
                <span class="badge badge-dark bg-twitter font-size-14" v-show="pageInfo == ''">共0页/0个</span>
            </div>
            <div class="col-8 c2">
                <nav v-show="pageInfo != ''">
                    <ul class="pagination float-right font-size-14">
                        <li class='page-item'>
                            <a class='page-link bg-twitter border-twitter text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isFirstPage"
                               @click="toFirstPage">首页</a>
                        </li>
                        <li class='page-item'>
                            <a class='page-link bg-twitter border-twitter text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isFirstPage"
                               @click="toPrePage">上一页</a>
                        </li>
                        <div v-for="item in pageInfo.navigatepageNums">
                            <li class='page-item active' v-if="pageInfo.pageNum == item">
                                <a class='page-link border-twitter'
                                   href='javascript:void(0)'>{{item}}</a>
                            </li>
                            <li class='page-item' v-else>
                                <a class='page-link bg-twitter border-twitter text-white'
                                   href='javascript:void(0)' @click="toClickPage(item)">{{item}}</a>
                            </li>
                        </div>
                        <li class='page-item'>
                            <a class='page-link bg-twitter border-twitter text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isLastPage" @click="toNextPage">下一页</a>
                        </li>
                        <li class='page-item'>
                            <a class='page-link bg-twitter border-twitter text-white'
                               href='javascript:void(0)' v-show="!pageInfo.isLastPage"
                               @click="toLastPage(pageInfo.pages)">末页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- 数据模态框 -->
        <div class="modal fade" id="dataModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form @submit.prevent="submitContent">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                <strong>{{modalTitle}}</strong>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span><i class="fa fa-window-close text-white font-size-30"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group d-none">
                                <label class="col-form-label"> id：</label>
                                <input type="text" class="form-control form-control-sm" v-model="id"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 字典编码：</label>
                                <input type="text" class="form-control form-control-sm" placeholder="请输入字典编码"
                                       v-model="dictCode"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 字典名：</label>
                                <input type="text" class="form-control form-control-sm" placeholder="请输入字典名"
                                       v-model="dictName"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 字典值：</label>
                                <input type="text" class="form-control form-control-sm" placeholder="请输入字典值"
                                       v-model="dictVal"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-size-14"> 状态：</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="dictStatus1" class="custom-control-input form-control-sm"
                                           value="1" v-model="dictStatus"/>
                                    <label class="custom-control-label font-size-14"
                                           for="dictStatus1">启用</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="dictStatus2" class="custom-control-input form-control-sm"
                                           value="0" v-model="dictStatus"/>
                                    <label class="custom-control-label font-size-14"
                                           for="dictStatus2">禁用</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger font-size-14" data-dismiss="modal">
                                <i class="fa fa-close"></i>&nbsp;&nbsp;关闭
                            </button>
                            <button type="submit" class="btn btn-primary font-size-14">
                                <i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;提交
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script src='/plugins/jquery.scrollUp.min.js'></script>
    <script type='module'>
        import {initUtil, bootBoxUtil} from '/util.js';

        const containerVm = new Vue({
            el: '#container',
            data: {
                selectFormData: {
                    dictCode: '',
                },
                ids: [],
                nowPageNum: 1,
                pageInfo: '',
                modalTitle: '',
                id: 0,
                dictCode: '',
                dictName: '',
                dictVal: '',
                dictStatus: 1
            },
            methods: {
                getPage() {
                    let sendData = this.selectFormData;
                    sendData.pageNum = this.nowPageNum;
                    sendData.pageSize = 20;
                    axios({
                        method: 'post',
                        url: '/sys/dict/getPage',
                        headers: {'Content-Type': 'application/json;charset=utf-8'},
                        data: JSON.stringify(sendData),
                        responseType: 'json'
                    }).then(function (res) {
                        if (res.data.code == 200) {
                            containerVm.pageInfo = res.data.data;
                        } else if (res.data.code == 100) {
                            containerVm.pageInfo = '';
                        } else if (res.data.code == 500) {
                            bootBoxUtil.alert(res.data.msg);
                        }
                    });
                },
                selectContent() {
                    this.nowPageNum = 1;
                    this.getPage();
                },
                clearSelectContent() {
                    this.selectFormData.dictCode = '';
                    this.selectContent();
                },
                toFirstPage() {
                    this.nowPageNum = 1;
                    this.getPage();
                    this.scrollUp();
                },
                toPrePage() {
                    this.nowPageNum = this.nowPageNum - 1;
                    this.getPage();
                    this.scrollUp();
                },
                toNextPage() {
                    this.nowPageNum = this.nowPageNum + 1;
                    this.getPage();
                    this.scrollUp();
                },
                toLastPage(lastPage) {
                    this.nowPageNum = lastPage;
                    this.getPage();
                    this.scrollUp();
                },
                toClickPage(clickPage) {
                    this.nowPageNum = clickPage;
                    this.getPage();
                    this.scrollUp();
                },
                insertModalOpen() {
                    this.modalTitle = '『添加窗口』';
                    this.modalShow();
                },
                updateModalOpen(id) {
                    this.modalTitle = '『修改窗口』';
                    this.modalSetVal(id);
                },
                submitContent() {
                    if (this.dictCode.trim() == '') {
                        toastr.warning('字典编码不能为空');
                    } else if (this.dictName.trim() == '') {
                        toastr.warning('字典名不能为空');
                    } else if (this.dictVal.trim() == '') {
                        toastr.warning('字典值不能为空');
                    } else {
                        let sendData = new FormData();
                        sendData.append('id', this.id);
                        sendData.append('dictCode', this.dictCode);
                        sendData.append('dictName', this.dictName);
                        sendData.append('dictVal', this.dictVal);
                        sendData.append('dictStatus', this.dictStatus);
                        let sendUrl = '';
                        if (this.id == 0) {
                            sendUrl = '/sys/dict/insert';
                        } else {
                            sendUrl = '/sys/dict/update';
                        }
                        axios({
                            method: 'post',
                            url: sendUrl,
                            data: sendData,
                            responseType: 'json'
                        }).then(function (res) {
                            if (res.data.code == 200) {
                                toastr.success(res.data.msg);
                                if (containerVm.id == 0) {
                                    containerVm.clearSelectContent();
                                } else {
                                    containerVm.getPage();
                                }
                                containerVm.modalHide();
                            } else if (res.data.code == 100) {
                                toastr.error(res.data.msg);
                            } else if (res.data.code == 101) {
                                console.log(res.data.msg);
                            } else if (res.data.code == 500) {
                                bootBoxUtil.alert(res.data.msg);
                            }
                        });
                    }
                },
                deleteBatch() {
                    bootBoxUtil.confirm('确定要删除选中项吗？', function () {
                        if (containerVm.ids.length == 0) {
                            toastr.warning('请至少选择一项删除');
                        } else {
                            axios({
                                method: 'post',
                                url: '/sys/dict/deleteBatchByIds',
                                params: {
                                    ids: containerVm.ids.toString()
                                },
                                responseType: 'json'
                            }).then(function (res) {
                                if (res.data.code == 200) {
                                    toastr.success(res.data.msg);
                                    containerVm.ids = [];
                                    containerVm.getPage();
                                } else if (res.data.code == 100) {
                                    toastr.error(res.data.msg);
                                } else if (res.data.code == 500) {
                                    bootBoxUtil.alert(res.data.msg);
                                }
                            });
                        }
                    });
                },
                modalSetVal(id) {
                    axios({
                        method: 'post',
                        url: '/sys/dict/getById',
                        params: {
                            id: id
                        },
                        responseType: 'json'
                    }).then(function (res) {
                        if (res.data.code == 200) {
                            containerVm.id = res.data.data.id;
                            containerVm.dictCode = res.data.data.dictCode;
                            containerVm.dictName = res.data.data.dictName;
                            containerVm.dictVal = res.data.data.dictVal;
                            containerVm.dictStatus = res.data.data.dictStatus;
                            containerVm.modalShow();
                        } else if (res.data.code == 100) {
                            toastr.error(res.data.msg);
                        } else if (res.data.code == 500) {
                            bootBoxUtil.alert(res.data.msg);
                        }
                    });
                },
                modalReset() {
                    $('#dataModal').on('hidden.bs.modal', function () {
                        containerVm.id = 0;
                        containerVm.dictCode = '';
                        containerVm.dictName = '';
                        containerVm.dictVal = '';
                        containerVm.dictStatus = 1;
                    });
                },
                modalShow() {
                    $('#dataModal').modal();
                },
                modalHide() {
                    $('#dataModal').modal('hide');
                },
                scrollUp() {
                    document.getElementById('scrollUp').click();
                }
            },
            mounted() {
                initUtil.initToastr();
                initUtil.initScrollUp();
                this.modalReset();
                this.getPage();
            }
        });

        Vue.filter('dictStatusFilter', function (value) {
            if (value == 1) {
                return '启用';
            } else {
                return '禁用';
            }
        });

    </script>

    <style>

    </style>

</div>